#l-play-button{
  border: none;
  background: none;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 72px;
  color: #FE3;
  margin-left: -25%;
  width: 50%;
  height: 100px;
  margin-top: -50px;
  text-align: center;
  line-height: 100px;
  text-shadow: #000 8px 8px 0;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
#l-body{
  background: rgba(105,161,171,1);
  background: -moz-linear-gradient(left, rgba(105,161,171,1) 0%, rgba(247,250,210,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105,161,171,1)), color-stop(100%, rgba(247,250,210,1)));
  background: -webkit-linear-gradient(left, rgba(105,161,171,1) 0%, rgba(247,250,210,1) 100%);
  background: -o-linear-gradient(left, rgba(105,161,171,1) 0%, rgba(247,250,210,1) 100%);
  background: -ms-linear-gradient(left, rgba(105,161,171,1) 0%, rgba(247,250,210,1) 100%);
  background: linear-gradient(to right, rgba(105,161,171,1) 0%, rgba(247,250,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a1ab', endColorstr='#f7fad2', GradientType=1 );
}

#play-button {
  position: relative;
  display: block;
  width: 13em;
  height: 3em;
  margin: 2em;
  border: none;
  outline: none;
  letter-spacing: .2em;
  font-weight: bold;
  background: #ff8a80;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out;
}
@-webkit-keyframes 
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
@keyframes 
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
